* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
    height:100%;
    width:100%;
}

body{
    background-color: rgb(0, 0, 0);
    padding: 30px 60px;
}
h1{
    font-size: 12vw;
    font-weight: 100;
    font-family: monument;
    color: #fff;
}


h1:nth-child(1){
    overflow: hidden;
}


h1 span{
    display: inline-block;
}