* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height:100%;
    width:100%;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-size: 20px;
}
#nav div{
    display: flex;
    gap: 40px;
}

#center{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 60px;

}
#center #left{
    height: 100%;
    width: 45%;
}
#center #right{
    height: 100%;
    width: 45%;
    background-image: url(https://images.unsplash.com/photo-1520763185298-1b434c919102?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#center #left h1{
    font-size: 90px;
    line-height: 90px;
    margin-bottom: 50px;
}
#center button{
    padding: 20px 30px;
    background-color: #00b4d0;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    font-size: 23px;
}