* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html, body {
    height:100%;
    width:100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1620121478247-ec786b9be2fa?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 50% 60%;
}

#full{
    width: 100%;
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(10px);
    padding: 40px;
    position: absolute;

}

#full h2{
    margin-bottom: 10px;
    font-size: 50px;
    color: #fff;
    font-weight: 300;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    color: #fff;
    font-size: 30px;
}
#full h4{
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 40px;
    color: #fff;
}